body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body .box {
  background: white;
  border: 0;
}

div.colorbox:first-child > div.box {
  border-radius: 40px 40px 0 0;
}

div.colorbox:not(first-child) > div.box {
  border-radius: 0 0 40px 40px;
}

.colorbox:first-of-type {
  background-color: #cef3f1;
  padding-top: 100px;
}

.colorbox:nth-of-type(2) {
  background-color: #4ecfd5;
  height: 100%;
  padding-bottom: 1500px;
}

body > .nav,
body> .nav > .box {
  background-color: #fdc7d1;
}

.nav {
  border: 0;
}

.colorbox:nth-of-type(2),
body > .nav {
  position: relative;
  top: -125px;
}

div img.logo {
  position: relative;
  top: -90px;
}

div.row > .nav {
  background-color: white;
  width: 100%;
}

.box ul:not(.topnav) li {
  padding: 5px 32px;
  font-size: 20px;
  font-weight: 900;
}

.box ul.topnav,
.tagline {
  position: relative;
}

input {
  width: 160px;
  border-radius: 40px;
  height: 30px;
  border: 2px solid #f5a4b4;
}

.bottom-owls {
  border-top: 5px dotted #d0f3f1;
  margin-top: 40px;
}

img.pull-right {
  margin-right: 20px;
}

img.shop-now {
  width: 100%;
  margin-left: -30px;
  margin-top: -10px;
}

img[src*="tree"] {
  margin-top: 80px;
}

ul.topnav li {
  display: inline;
}

ul button.round.button {
  padding: 0 30px 0;
  font-size: 18px;
  font-weight: 400;
}

ul.topnav {
  margin-top: 30px;
}

p {
  font-family: 'Merriweather', serif;
}

p:first-of-type {
  font-size: 30px;
  font-weight: bold;
  color: #6cb700;
}

p:nth-of-type(2) {
  font-size: 22px;
  color: #4ec3c9;
}

footer {
  height: 200px;
  font-size: 16px;
  width: 400px;
}

.footer ul {
  text-align: center;
}

.box.three.centered.fourths > .row {
  padding: 30px;
}

.footer li {
  margin: 2px;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  float: center;
  position: relative;
  padding: 3px 5px;
  color: #f0ffff;
  font-size: 17px;
  opacity: 0.60;
}

.nav.nocollapse > .box.three.centered.fourths > ul > li {
  font-family: 'Merriweather', serif;
  font-size: 26px;
  font-weight: bold;
  color: #6e013c;
}

.sign-in {
  position: relative;
  left: 70%;
}

.sign-in li {
  color: #43a1aa;
  font-weight: bold;
}
