body {
  background-color: #78CBD1;
}
.whiteContainer {
  background-color: white;
}
.rightTop {
  margin-top: 50px;}

.tree {
  margin-top: 200px;
  float: right;
}
.responsive {
  background-color: white;
}

.top {
background-color: #CeEEEC;
}

.navigation {
  background-color: lightpink
;}

ul li {
  display: inline-block;
}

ul {
  margin-bottom: 0;
}

button {
 background-color: transparent;
}

p {color: lightblue;
}
