/************ BODY STYLING ******************/

article{
  background-color: white;
}

.clothing-img h2 {
  background-color: #E8F9CB;
  height: 200px;
  width: 200px;
}

.clothing-img p{
  font-size: 1.5em;
  color: #7BAD23;
  font-weight: normal;
  text-align: justify;
}

.under-nav li {
  font-weight: 100 !important;
  display: inline-block;
  margin-right: -50px;
  color: RGB(141, 182, 56);
}

.under-nav {
    margin-left: -4px;
    margin-top: -20px;
}

/************ FORM STYLING ******************/
#form {
  background-color: #E8F9CB;
  color:#7BAD23;
  border-radius: 40px;
}

#form form {
  background-color: #E8F9CB;
  color:#7BAD23;
  border-radius: 40px;
}

#form h4 {
  padding-top: 8%;
  line-height: 1.2;
}

#form hr {
  color:#7BAD23;
  background-color:#7BAD23;
  height: 2px;
}

#shop-search {
  border: 0;
  border-radius: 0;
  background: white;
}

div > a.button.round.small {
  text-decoration: none;
  background: rgb(124, 171, 43);
  color: #fff;
  font-weight: 300;
  margin: 8px 0 10px 5px;
}

.radio {
  font-weight: 100  !important;
  font-size: 1em  !important;
  padding: 0  !important;
  padding-left: 18% !important;
}

select.unselected {
  color:#7BAD23;
  margin-bottom: 10%;
}

@media screen and (max-width: 770px) {
  .radio {
    display: inline-block !important;
  }
}
