article{
  background-color: white;
}

.clothing-img h2 {
  background-color: #E8F9CB;
  height: 200px;
  width: 200px;
}

.clothing-img p{
  font-size: 1em;
  color: black;
  font-weight: normal;
  text-align: center3;
}

.under-nav li {
  font-weight: 100 !important;
  display: inline-block;
  margin-right: -50px;
  color: RGB(141, 182, 56);
}

.under-nav {
    margin-left: -4px;
    margin-top: -20px;
}


