extends _layout
  block content
   .colorbox
     .box.three.centered.fourths
       .row
        //form starts here
         aside#form.class.one.fifth.padded
          form(action="#", method="post")
           h4 Limit your search by:

           hr

         .row
            .one.whole
               input#shop-search.inline(type="search")
               a.small.button.round(href="#") Search
         .row
            .one.whole
              label.inline-block(for="condition") Condition:
                ul.unstyled.zero
                  li.radio
                    input#New(type="radio", name="condition", checked="")
                    label.inline(for="New") New
                  li.radio
                    input#Used(type="radio" name="condition")
                    label.inline(for="Used") Gently Used
          .row
             .one.whole
                label(for="size") Size:
                ul.unstyled.zero
                 .one.half.padded
                   li.radio
                     input#Four(type="radio" name="size" checked="")
                     label.inline(for="Four") 4
                   li.radio
                     input#Five(type="radio" name="size")
                     label.inline(for="Five") 5
                   li.radio
                     input#Six(type="radio" name="size")
                     label.inline(for="Six") 6
                   li.radio
                     input#Seven(type="radio" name="size")
                     label.inline(for="Seven") 7
                 .one.half.padded
                   li.radio
                     input#Eight(type="radio" name="size")
                     label.inline(for="Eight") 8
                   li.radio
                     input#Nine(type="radio" name="size")
                     label.inline(for="Eight") 9
                   li.radio
                     input#Ten(type="radio" name="size")
                     label.inline(for="Ten") 10
                   li.radio
                     input#Eleven(type="radio" name="size")
                     label.inline(for="Eleven") 11
            .row
               .one.whole
                  label(for="seasons") Seasons:
                  ul.unstyled.zero
                    li.radio
                      input#seasons(type="radio" name="seasons" checked="")
                      label.inline(for="all-seasons") All Seasons
                    li.radio
                      input#spring(type="radio" name="seasons")
                      label.inline(for="spring") Spring
                    li.radio
                      input#summer(type="radio" name="seasons")
                      label.inline(for="summer") Summer
                    li.radio
                      input#fall(type="radio" name="seasons")
                      label.inline(for="fall") Fall
                    li.radio
                      input#winter(type="radio" name="seasons")
                      label.inline(for="winter") Winter
            <div class="row">
              <div class="one whole">
                <label for="type">Type:</label>
                <ul class="unstyled zero">
                  <li class="radio">
                    <input id="any" type="radio" name="type" checked="">
                    <label for="any" class="inline">Any</label>
                  </li>
                  <li class="radio">
                    <input id="one-piece" type="radio" name="type">
                    <label for="one-piece" class="inline">One-Piece</label>
                  </li>
                  <li class="radio">
                    <input id="tops" type="radio" name="type">
                    <label for="tops" class="inline">Tops</label>
                  </li>
                  <li class="radio">
                    <input id="bottoms" type="radio" name="type">
                    <label for="bottoms" class="inline">Bottoms</label>
                  </li>
                </ul>
              </div>
            </div>
           <div class="row">
            <div class="one whole"><span class="select-wrap">
              <label for="brand">Brand:</label>
              <select class="unselected">
                  <option value="" disabled="" selected="">Janie and Jack</option>
                  <option value="Kardashian">Kardashian Kids</option>
                  <option value="Jellycat">Jellycat</option>
                  <option value="Bloombaby">Bloombaby</option>
                  <option value="Bugaboo">Bugaboo</option>
              </select></span></div>
           </div>
         </form>

       </aside> <!-- Beginning of main content -->


 <!-- Beginning of main content -->

<!--boxes start here-->
article.four.fifths
  .row.breadcrumb
    // start upper right
    ul.under-nav
      li All
      li &#38;gt
      li Twin
      li &#38;gt
      li B/G
  // end upper right
  .row
    // start row for dropdown
    .one.tenth.sort-by sort by:
    .one.seventh.drop-border
      select.dropdown-items
        option(value="price") Price
        option(value="size") Size
        option(value="Age") Age
        option(value="Type") Type
    // end drop-border
    .eight.elevenths.right-list
      // start right list
      ul
        li
          a(href="#") prev.
        li |
        li
          a(href="a") page num.
        li |
        li
          a(href="#") next
        li |
        li
          a(href="#") view all
    // end right-list
         </div> <!--end sort row for dropdown-->
         <div class="row">
           <div class="one fourth three-up-small-tablet two-up-mobile padded">
             <div class="box clothing-img">
               <img src="images/green_square.jpg" alt=""/>
               <p class="responsive">Sailor Suits $15.00</p>
               <p class="responsive">Jane Joe 4 hours</p>
             </div>
           </div>
           <div class="one fourth three-up-small-tablet two-up-mobile padded">
             <div class="box clothing-img">
               <img src="images/green_square.jpg" alt=""/>
               <p class="responsive">Sailor Suits $15.00</p>
               <p class="responsive">Jane Joe 4 hours</p>
             </div>
           </div>
           <div class="one fourth three-up-small-tablet two-up-mobile padded">
             <div class="box clothing-img">
               <img src="images/green_square.jpg" alt=""/>
               <p class="responsive">Sailor Suits $15.00</p>
               <p class="responsive">Jane Joe 4 hours</p>
             </div>
           </div>
           <div class="one fourth three-up-small-tablet two-up-mobile padded">
             <div class="box clothing-img">
               <img src="images/green_square.jpg" alt=""/>
               <p class="responsive">Sailor Suits $15.00</p>
               <p class="responsive">Jane Joe 4 hours</p>
             </div>
           </div>
           <div class="one fourth three-up-small-tablet two-up-mobile padded">
             <div class="box clothing-img">
               <img src="images/green_square.jpg" alt="" />
               <p class="responsive">Sailor Suits $15.00</p>
               <p class="responsive" >Jane Joe 4 hours</p>
             </div>
           </div>
           <div class="one fourth three-up-small-tablet two-up-mobile padded">
             <div class="box clothing-img">
               <img src="images/green_square.jpg" alt="" />
               <p class="responsive">Sailor Suits $15.00</p>
               <p class="responsive" >Jane Joe 4 hours</p>
             </div>
           </div>
           <div class="one fourth three-up-small-tablet two-up-mobile padded">
             <div class="box clothing-img">
               <img src="images/green_square.jpg" alt="" />
               <p class="responsive">Sailor Suits $15.00</p>
               <p class="responsive">Jane Joe 4 hours</p>
             </div>
           </div>
           <div class="one fourth three-up-small-tablet two-up-mobile padded">
             <div class="box clothing-img">
               <img src="images/green_square.jpg" alt="" />
               <p class="responsive">Sailor Suits $15.00</p>
               <p class="responsive">Jane Joe 4 hours</p>
             </div>
           </div>
           <div class="one fourth three-up-small-tablet two-up-mobile padded">
             <div class="box clothing-img">
               <img src="images/green_square.jpg" alt="" />
               <p class="responsive">Sailor Suits $15.00</p>
               <p class="responsive">Jane Joe 4 hours</p>
             </div>
           </div>
           <div class="one fourth three-up-small-tablet two-up-mobile padded">
             <div class="box clothing-img">
               <img src="images/green_square.jpg" alt="" />
               <p class="responsive">Sailor Suits $15.00</p>
               <p class="responsive">Jane Joe 4 hours</p>
             </div>
           </div>
           <div class="one fourth three-up-small-tablet two-up-mobile padded">
             <div class="box clothing-img">
               <img src="images/green_square.jpg" alt="" />
               <p class="responsive">Sailor Suits $15.00</p>
               <p class="responsive">Jane Joe 4 hours</p>
             </div>
           </div>
           <div class="one fourth three-up-small-tablet two-up-mobile padded">
             <div class="box clothing-img">
               <img src="images/green_square.jpg" alt="" />
               <p class="responsive">Sailor Suits $15.00</p>
               <p class="responsive">Jane Joe 4 hours</p>
             </div>
           </div>
         </div>
       </article>
     </div>
    </div>
    <div class="footer">
        <ul>
          <li>Link Here</li>
          <li>|</li>
          <li>Link Here</li>
          <li>|</li>
          <li>Link Here</li>
          <li>|</li>
          <li>Link Here</li>
          <li>|</li>
          <li>Link Here</li>
          <li>|</li>
          <li>Link Here</li>
        </ul>
      </div>
    </div> <!--bottom colorbox-->
  </body>
</html>
