extends _layout
  block content
   .colorbox
     .box.three.centered.fourths
       .row
        //form starts here
        aside#form.one fifth padded">
        <form action="#" method="post">
          <h4>Limit your search by:</h4>

          <hr>

            <div class="row">
              <div class="one whole">
                <input type="search" id="shop-search" class="inline">
                <a class="small button round" href="#">Search</a>
              </div>
            </div>
            <div class="row">
              <div class="one whole">
                <label for="condition" class="inline-block">Condition:</label>
                <ul class="unstyled zero">
                  <li class="radio">
                    <input id="New" type="radio" name="condition" checked="">
                    <label for="New" class="inline">New</label>
                  </li>
                  <li class="radio">
                    <input id="Used" type="radio" name="condition">
                    <label for="Used" class="inline">Gently Used</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="one whole">
                <label for="size">Size:</label>
                <ul class="unstyled zero">
                 <div class="one half padded">
                  <li class="radio">
                    <input id="Four" type="radio" name="size" checked="">
                    <label for="Four" class="inline">4</label>
                  </li>
                  <li class="radio">
                    <input id="Five" type="radio" name="size">
                    <label for="Five" class="inline">5</label>
                  </li>
                  <li class="radio">
                    <input id="Six" type="radio" name="size">
                    <label for="Six" class="inline">6</label>
                  </li>
                  <li class="radio">
                    <input id="Seven" type="radio" name="size">
                    <label for="Seven" class="inline">7</label>
                  </li>
               </div>
               <div class="one half padded">
                  <li class="radio">
                    <input id="Eight" type="radio" name="size">
                    <label for="Eight" class="inline">8</label>
                  </li>
                  <li class="radio">
                    <input id="Nine" type="radio" name="size">
                    <label for="Eight" class="inline">9</label>
                  </li>
                  <li class="radio">
                    <input id="Ten" type="radio" name="size">
                    <label for="Ten" class="inline">10</label>
                  </li>
                  <li class="radio">
                    <input id="Eleven" type="radio" name="size">
                    <label for="Eleven" class="inline">11</label>
                  </li>
              </div>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="one whole">
                <label for="seasons">Seasons:</label>
                <ul class="unstyled zero">
                  <li class="radio">
                    <input id="seasons" type="radio" name="seasons" checked="">
                    <label for="all-seasons" class="inline">All Seasons</label>
                  </li>
                  <li class="radio">
                    <input id="spring" type="radio" name="seasons">
                    <label for="spring" class="inline">Spring</label>
                  </li>
                  <li class="radio">
                    <input id="summer" type="radio" name="seasons">
                    <label for="summer" class="inline">Summer</label>
                  </li>
                  <li class="radio">
                    <input id="fall" type="radio" name="seasons">
                    <label for="fall" class="inline">Fall</label>
                  </li>
                  <li class="radio">
                    <input id="winter" type="radio" name="seasons">
                    <label for="winter" class="inline">Winter</label>
                  </li>
                </ul>
              </div>
            </div>
            .row
              .one.whole
                label(for="type") Type:
                ul.unstyled.zero
                  li.radio
                    input#any(type="radio", name="type")
                    label.inline(for="any") Any
                  li.radio
                    input#one-piece(type="radio", name="type")
                    label.inline(for="one-piece") One-Piece
                  li.radio
                    input#tops(type="radio", name="type")
                    label.inline(for="tops") Tops
                  li.radio
                    input#bottoms(type="radio", name="type")
                    label.inline(for="bottoms") Bottoms
            .row
              .one.whole
                span.select-wrap
                  label(for="brand") Brand:
                  select.unselected
                    option Janie and Jack
                    option Kardashian Kids
                    option Jellycat
                    option Bloombaby
                    option Bugaboo

<!-- Beginning of main content -->

<!--boxes start here-->
article.four.fifths
  .row.breadcrumb
    // start upper right
    ul.under-nav
      li All
      li &#38;gt
      li Twin
      li &#38;gt
      li B/G
  // end upper right
  .row
    // start row for dropdown
    .one.tenth.sort-by sort by:
    .one.seventh.drop-border
      select.dropdown-items
        option(value="price") Price
        option(value="size") Size
        option(value="Age") Age
        option(value="Type") Type
    // end drop-border
    .eight.elevenths.right-list
      // start right list
      ul
        li
          a(href="#") prev.
        li |
        li
          a(href="a") page num.
        li |
        li
          a(href="#") next
        li |
        li
          a(href="#") view all
    // end right-list
         </div> <!--end sort row for dropdown-->
          .row
             .one.fourth.three-up-small-tablet.two-up-mobile.padded
               .box.clothing-img
                 img(src="images/green_square.jpg")
                 p.responsive Sailor Suits $15.00
                 p.responsive Jane Joe 4 hours
          .row
             .one.fourth.three-up-small-tablet.two-up-mobile.padded
               .box.clothing-img
                 img(src="images/green_square.jpg")
                 p.responsive Sailor Suits $15.00
                 p.responsive Jane Joe 4 hours
          .row
             .one.fourth.three-up-small-tablet.two-up-mobile.padded
               .box.clothing-img
                 img(src="images/green_square.jpg")
                 p.responsive Sailor Suits $15.00
                 p.responsive Jane Joe 4 hours
          .row
             .one.fourth.three-up-small-tablet.two-up-mobile.padded
               .box.clothing-img
                 img(src="images/green_square.jpg")
                 p.responsive Sailor Suits $15.00
                 p.responsive Jane Joe 4 hours
          .row
             .one.fourth.three-up-small-tablet.two-up-mobile.padded
               .box.clothing-img
                 img(src="images/green_square.jpg")
                 p.responsive Sailor Suits $15.00
                 p.responsive Jane Joe 4 hours
          .row
             .one.fourth.three-up-small-tablet.two-up-mobile.padded
               .box.clothing-img
                 img(src="images/green_square.jpg")
                 p.responsive Sailor Suits $15.00
                 p.responsive Jane Joe 4 hours
          .row
             .one.fourth.three-up-small-tablet.two-up-mobile.padded
               .box.clothing-img
                 img(src="images/green_square.jpg")
                 p.responsive Sailor Suits $15.00
                 p.responsive Jane Joe 4 hours
          .row
             .one.fourth.three-up-small-tablet.two-up-mobile.padded
               .box.clothing-img
                 img(src="images/green_square.jpg")
                 p.responsive Sailor Suits $15.00
                 p.responsive Jane Joe 4 hours
          .row
             .one.fourth.three-up-small-tablet.two-up-mobile.padded
               .box.clothing-img
                 img(src="images/green_square.jpg")
                 p.responsive Sailor Suits $15.00
                 p.responsive Jane Joe 4 hours
          .row
             .one.fourth.three-up-small-tablet.two-up-mobile.padded
               .box.clothing-img
                 img(src="images/green_square.jpg")
                 p.responsive Sailor Suits $15.00
                 p.responsive Jane Joe 4 hours
          .row
             .one.fourth.three-up-small-tablet.two-up-mobile.padded
               .box.clothing-img
                 img(src="images/green_square.jpg")
                 p.responsive Sailor Suits $15.00
                 p.responsive Jane Joe 4 hours
          .row
             .one.fourth.three-up-small-tablet.two-up-mobile.padded
               .box.clothing-img
                 img(src="images/green_square.jpg")
                 p.responsive Sailor Suits $15.00
                 p.responsive Jane Joe 4 hours
    .footer
      ul
        li Link Here
        li |
        li Link Here
        li |
        li Link Here
        li |
        li Link Here
        li |
        li Link Here
        li |
        li Link Here
